<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.9.3683" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+win+wpa81+wp80" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="T4.TemplateFileManager" version="2.2.1" targetFramework="net45" />
  <package id="VDS.Common" version="1.6.0" targetFramework="net45" />
</packages>